.nav {
    position: relative;
    overflow: hidden;
}

.logo {
    float: left;
}

.logo img {
    width: 38px;
    height: 38px;
    padding: 20px 20px;
    float: left;
    /* text-align: center; */
    /* align-items: center; */
}

.navCenter a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 16px;
}

.nav a:hover {
    color: red;
}